<!DOCTYPE html>
<html>
<head>
    <title>Borrar calificación</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Borrar una caliicación.</h1>
<p>Por favor, introduce el ID de la calificación que quieres borrar:</p>
<form action="/borrar" method="post">
    ID:<br>
    <input type="text" name="iden" value="">
    <br><br>
    <input type="submit" value="Enviar">
</form>

</body>
</html>
