<!DOCTYPE html>
<html>
<head>
    <title>Crear empresa</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Añadir una nueva empresa</h1>
<p>Por favor, introduce el nombre de la nueva empresa:</p>
<form action="/empresa" method="post">
    Nombre:<br>
    <input type="text" name="nombre" value="nombre">
    <br><br>
    <input type="submit" value="Enviar">
</form>

</body>
</html>
